{% extends 'layouts/base.html' %}

{% block title%}MB | Contact{% endblock title%}

{% block nav %}
    {% include 'layouts/navigations/nav_contact.html' %}
{% endblock nav %}

{% block content %}
    <h1 class="title">Contact</h1>
    <p>Cette page est la surtout pour faire jolie et comme sur les autres sites qui existent.<br>Mais 
    si vous voulez me contactez vous pouvez m'envoyer un e-mail à l'adresse : mariusbousseau@aol.com !</p>
    <p><font size="2">(Le temps de réponse varie entre quelques jours et 6 mois)</font></p>
{% endblock content %}